.home {
    min-width: 100%;
    min-height: 100vh;

    background-image: linear-gradient(
        rgba(0, 0, 0, 0.3),
        rgba(0, 0, 0, 0.3)
    ),url("../../assets/backgrounds/back_five.jpg");
    background-size: cover;
    
    position: relative;

    display: flex;
    align-items: center;
    justify-content: space-around;
}
