.question {
    height: 4rem;
    position: absolute;
    left: -5%;
    top: 5%;

    padding: 10px 0px;

    font-size: 1.4rem;
    line-height: 2.4rem;
    color: #fff;
}

.question span {
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
    box-shadow: 20px 0 0 #5385dbad, -10px 0 0 #3767ba;
    padding: 5px 0px;
    background: linear-gradient(to right, #3767ba, #5385dbad);
}
